<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
      <!-- About -->
    <section class="py-20 text-center bg-gray-50">
      <h2 class="text-3xl font-semibold mb-4">About Us</h2>
      <p class="max-w-2xl mx-auto">We bring years of experience to deliver quality real estate services tailored to your needs. Our mission is to deliver client satisfaction through expertise and trust.</p>
    </section>
</body>
</html>